<h2>Layout Function Examples</h2>

<h4>Create your own Custom Blocks</h4>
<p>Add new content blocks within the Advanced Custom Fields, "Flex Columns - Block" Field Group by duplicating the Content layout within the Column Flexible Content field.  Adjust the fields as needed for your new field group.</p>
<pre>
	function acf_fc_custom_layouts($type){
		global $idp_acf_flexcols;
		switch( $type ):
			case 'new_layout_field':
				$colclasses = $idp_acf_flexcols->column_classes();
				$animate_data = $idp_acf_flexcols->animate(get_sub_field('animate'));  
				$new_field = get_sub_field('new_field_name');
				$layout .= '&lt;div class="'.$colclasses.'"'.$animate_data.'>' . $new_field .'&lt;/div>';
			break;
		endswitch;
	
		return $layout;
	}
	add_filter( 'flex_col_layout', 'acf_fc_custom_layouts');
</pre>

<h4>Column Wrappers</h4>
<p>
<pre>
	add_filter( 'flexible_columns_wrap_outer', 'IDP_Column_WrapOuter');
	add_filter( 'flexible_columns_wrap_outer_end', 'IDP_Column_WrapOuter_End');
	function IDP_Column_WrapOuter(){
		global $idp_acf_flexcols;
		$contain = '';
		if ( get_row_layout() == 'full_width_row' || get_row_layout() == '2_column_row' || get_row_layout() == '3_column_row' || get_row_layout() == '4_column_row' ){
			$container_options = get_sub_field('container_options');
			$classes = $idp_acf_flexcols->container_classes($container_options);
		
			if(  have_rows('column_1_block') || have_rows('column_2_block') || have_rows('column_3_block') || have_rows('column_4_block')):
		
				while( have_rows('column_1_block') || have_rows('column_2_block') || have_rows('column_3_block') || have_rows('column_4_block') ): the_row();
	 
					$contain = &lt;div class="'.$classes.'">';
	
				endwhile; 
			endif; //END SINGLE COLUMN
		}
		return $contain;	
	}
	function IDP_Column_WrapOuter_End(){
		$contain = '';
	if ( get_row_layout() == 'full_width_row' || get_row_layout() == '2_column_row' || get_row_layout() == '3_column_row' || get_row_layout() == '4_column_row' ){
		if( have_rows('column_1_block') || have_rows('column_2_block') || have_rows('column_3_block') || have_rows('column_4_block') ):
			while( have_rows('column_1_block') || have_rows('column_2_block') || have_rows('column_3_block') || have_rows('column_4_block') ): the_row();
					
				$contain = '&lt;/div>';		
				
			endwhile; 
		 endif; //END SINGLE COLUMN
	}
	return $contain;
	}
</pre>
<p>To wrap the inside of the container use the following:</p>
<pre>
add_filter( 'flexible_columns_wrap_inner', 'IDP_Column_WrapInner');
add_filter( 'flexible_columns_wrap_inner_end', 'IDP_Column_WrapInner_End');
function IDP_Column_WrapInner(){
	$wrap = get_sub_field('column_wrap');
	if( $wrap == 'style1' ) $output = '&lt;div class="wrap-style1">';
	if( $wrap == 'style2' ) $output = '&lt;div class="wrap-style2">';
	return $output;	
}
function IDP_Column_WrapInner_End(){
	$wrap = get_sub_field('angled_background');
	if( $wrap == 'end' || $wrap == 'style1' || $wrap == 'style2') $output = '&lt;/div> <!-- end .wrap-style -->';
	return $output;	
}
</pre>
<h4>Class Modifiers/Extendors</h4>
<p>If you need to modify or add additional classes to the column div use this filter:</p>
<pre>
function idp_ColClasses($classes, $therow){
	global $post;
	$showborder = $therow['enable_border'];
	if( $showborder ) $classes[] = 'border';
	return $classes;
}
add_filter( 'flexible_columns_col_class', 'idp_ColClasses', 10, 2);
</pre>
<p>To modify/add classes to the row div:</p>
<pre>
function idp_RowClass($class){
	$newclass = 'rowbackground';
	$class[] = $newclass;
	return $class;
}
add_filter( 'flexible_columns_row_class', 'idp_RowClass');
</pre>